body {
    background-color: beige;
    text-align: center;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightpink;
}

.container {
    display: flex;
    flex-direction: column;
}

button {
    margin: 20px 20%;
    font-size: 30px;
    padding: 10px;
}
