body {
    background-color: #303446;
    text-align: center;
    margin-top: 50px;
    color: #cad3f5;
    font-family: arial;
}

img {
    border: 5px solid #8caaee;
    width: 300px;
    height: auto;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1e2030;
    color: #8caaee;
}

button {
    background-color: #eff1f5;
}

.letter-container {
    margin: 10px auto 10px;
}

.letter-container button {
    width: 20px;
    height: 20px;
    margin: 1px -1px 1px;
    border: 1px #ca9ee6 solid;
}

#play {
    border: 3px #e78284 solid;
}

#custom {
    border: 3px #e5c890 solid;
}

#info {
    border: 3px #a6d189 solid;
}

.container {
    display: flex;
    flex-direction: column;
}

.container button {
    margin: 20px 20%;
    font-size: 30px;
    padding: 10px;
}

#masked {
    letter-spacing: 4px;
}

#navigationbar {
    background-color: #232634;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;

ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 10px;
    border-right: 2px solid #ca9ee6;
    text-decoration: none;
    color: #c6d0f5;
}