{% extends "layout.html" %}

{% block title %}
    Play!
{% endblock %}

{% block main %}
    <p>Random word:</p>
    <p id="masked">{{ masked }}</p>
    <p>Letters: {{ length }}</p>
    <p>Answer: {{ word }}</p>
    <p>you pressed: {{ letter }}</p>

    {% if win %}
        <div id="win">
            <p>You win! The answer was:</p>
            <br><p>{{ word }}</p><br>
            <p>Click 'reset' at the bottom to play again</p>
        </div>
    {% endif %}
    {% if not win %}
    <form class="char-rows" method="POST" action="/english">
        <input type="hidden" name="word" value="{{ word }}">
        <input type="hidden" name="masked" value="{{ masked }}">
        <input type="hidden" name="length" value="{{ length }}">
        <input type="hidden" name="english" value="{{ english }}">
        <input name="guess" placeholder="Guess word" type="text">
        <button type="submit">Confirm</button>
        <div class="letter-container">
            <div>
                <button type="submit" name="button" value="q">Q</button>
                <button type="submit" name="button" value="w">W</button>
                <button type="submit" name="button" value="e">E</button>
                <button type="submit" name="button" value="r">R</button>
                <button type="submit" name="button" value="t">T</button>
                <button type="submit" name="button" value="y">Y</button>
                <button type="submit" name="button" value="u">U</button>
                <button type="submit" name="button" value="i">I</button>
                <button type="submit" name="button" value="o">O</button>
                <button type="submit" name="button" value="p">P</button>
            </div>
            <div>
                <button type="submit" name="button" value="a">A</button>
                <button type="submit" name="button" value="s">S</button>
                <button type="submit" name="button" value="d">D</button>
                <button type="submit" name="button" value="f">F</button>
                <button type="submit" name="button" value="g">G</button>
                <button type="submit" name="button" value="h">H</button>
                <button type="submit" name="button" value="j">J</button>
                <button type="submit" name="button" value="k">k</button>
                <button type="submit" name="button" value="l">L</button>
            </div>
            <div>
                <button type="submit" name="button" value="z">Z</button>
                <button type="submit" name="button" value="x">X</button>
                <button type="submit" name="button" value="c">C</button>
                <button type="submit" name="button" value="v">V</button>
                <button type="submit" name="button" value="b">B</button>
                <button type="submit" name="button" value="n">N</button>
                <button type="submit" name="button" value="m">M</button>
            </div>
        </div>
    </form> 
    {% endif %}
    <form method="GET" action="/english">
        <button onclick="redirect('./')">Reset</button>
    </form>
{% endblock %}
