{% extends "layout.html" %}

{% block title %}    
{% endblock %}

{% block main %}
    <h1 id="title">Shavian Hangman</h1>
    <img src="{{ url_for('static', filename='images/titleart.png') }}" alt="ascii hangman art">
    <div class="container">
        <button id="play" onclick="redirect('/play')">Play</button>
        <button id="custom" onclick="redirect('/english')">Play (en)</button>
        <button id="info" onclick="redirect('https://www.shavian.info/')">More info</button>
    </div>
{% endblock %}