{% extends "layout.html" %}

{% block title %}
    Play!
{% endblock %}

{% block main %}
    <p>Random word:</p>
    <p id="masked">{{ masked }}</p>
    <p>Letters: {{ length }}</p>
    <p>Answer: {{ word }} ({{ english }})</p>
    <p>you pressed: {{ letter }}</p>
    {% if win %}
        <p>You win! The answer was:</p>
        <br><p>{{ word }} ({{ english}})</p><br>
        <p>Click 'reset' at the bottom to play again</p>
    {% endif %}
    <form class="char-rows" method="POST" action="/play">
        <input type="hidden" name="word" value="{{ word }}">
        <input type="hidden" name="masked" value="{{ masked }}">
        <input type="hidden" name="length" value="{{ length }}">
        <input type="hidden" name="english" value="{{ english }}">
        <div>
            <button type="submit" name="button" value="𐑐">𐑐</button>
            <button type="submit" name="button" value="𐑑">𐑑</button>
            <button type="submit" name="button" value="𐑒">𐑒</button>
            <button type="submit" name="button" value="𐑓">𐑓</button>
            <button type="submit" name="button" value="𐑔">𐑔</button>
            <button type="submit" name="button" value="𐑕">𐑕</button>
            <button type="submit" name="button" value="𐑖">𐑖</button>
            <button type="submit" name="button" value="𐑗">𐑗</button>
            <button type="submit" name="button" value="𐑘">𐑘</button>
            <button type="submit" name="button" value="𐑙">𐑙</button>
        </div>
        <div>
            <button type="submit" name="button" value="𐑚">𐑚</button>
            <button type="submit" name="button" value="𐑛">𐑛</button>
            <button type="submit" name="button" value="𐑜">𐑜</button>
            <button type="submit" name="button" value="𐑝">𐑝</button>
            <button type="submit" name="button" value="𐑞">𐑞</button>
            <button type="submit" name="button" value="𐑟">𐑟</button>
            <button type="submit" name="button" value="𐑠">𐑠</button>
            <button type="submit" name="button" value="𐑡">𐑡</button>
            <button type="submit" name="button" value="𐑢">𐑢</button>
            <button type="submit" name="button" value="𐑣">𐑣</button>
        </div>
        <div>
            <button type="submit" name="button" value="𐑤">𐑤</button>
            <button type="submit" name="button" value="𐑮">𐑮</button>
            <button type="submit" name="button" value="𐑥">𐑥</button>
            <button type="submit" name="button" value="𐑯">𐑯</button>
            <button type="submit" name="button" value="𐑦">𐑦</button>
            <button type="submit" name="button" value="𐑰">𐑰</button>
            <button type="submit" name="button" value="𐑧">𐑧</button>
            <button type="submit" name="button" value="𐑱">𐑱</button>
            <button type="submit" name="button" value="𐑨">𐑨</button>
            <button type="submit" name="button" value="𐑲">𐑲</button>
        </div>
        <div>
            <button type="submit" name="button" value="𐑩">𐑩</button>
            <button type="submit" name="button" value="𐑳">𐑳</button>
            <button type="submit" name="button" value="𐑪">𐑪</button>
            <button type="submit" name="button" value="𐑴">𐑴</button> 
            <button type="submit" name="button" value="𐑫">𐑫</button>
            <button type="submit" name="button" value="𐑵">𐑵</button>
            <button type="submit" name="button" value="𐑬">𐑬</button>
            <button type="submit" name="button" value="𐑶">𐑶</button>
            <button type="submit" name="button" value="𐑭">𐑭</button>
            <button type="submit" name="button" value="𐑷">𐑷</button>
        </div> 
        <div>
            <button type="submit" name="button" value="𐑸">𐑸</button>
            <button type="submit" name="button" value="𐑹">𐑹</button>
            <button type="submit" name="button" value="𐑺">𐑺</button>
            <button type="submit" name="button" value="𐑻">𐑻</button>
            <button type="submit" name="button" value="𐑼">𐑼</button>
            <button type="submit" name="button" value="𐑽">𐑽</button>
            <button type="submit" name="button" value="𐑾">𐑾</button>
            <button type="submit" name="button" value="𐑿">𐑿</button>
        </div>
    </form> 
    <form method="GET" action="/play">
        <button onclick="redirect('./')">Reset</button>
    </form>
{% endblock %}
