{% extends "layout.html" %}

{% block title %}
    Play!
{% endblock %}

{% block main %}
    <p>Random word: {{ masked }}</p>

    <div class="char-rows">
        <div>
            <button>A</button><button>B</button><button>C</button><button>D</button><button>E</button><button>F</button><button>G</button>
        </div>
        <div>
            <button>H</button><button>I</button><button>J</button><button>K</button><button>L</button><button>M</button><button>N</button>
        </div>
        <div>
            <button>O</button><button>P</button><button>Q</button><button>R</button><button>S</button><button>T</button><button>U</button>
        </div>
        <div>
            <button>V</button><button>W</button><button>X</button><button>Y</button><button>Z</button>
        </div>
    </div>
{% endblock %}